<h1>Edit Profile</h1>
<%= form_for @profile, url: {action: "update"}, method: :patch do |f| %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :photo %><br>
		<%= f.text_field :photo %>
	</div>

	<div class="field">
		<%= f.label :photo %><br>
		<%= f.text_field :photo %>
	</div>

	<div class="field">
		<%= f.label :bio %><br>
		<%= f.text_area :bio %>
	</div>

	<div class="field">
		<%= f.label :Connect_with_me %><br>
		<%= f.text_field :website %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>	

<b><%= link_to "Back", root_url %></b> |
<b><%= link_to "UserProfile", user_path(current_user.id) %> </b>
	
