<h1>Profile Spolight</h1>

<div class="profile">
	<p>
		<b>User Name:</b>
		<%= @profile.name %>
	</p>

	<p>
		<b>Name:</b>
		<%= current_user.name %>
	</p>

	<p>
		<%= image_tag(@profile.photo_url, :width => 300) if @profile.photo.present? %>
	</p>

	<p>
		<b>Bio:</b>
		<p><%= @profile.bio %></p>
	</p>

	<p>
		<b>Website:</b>
		<%= @profile.website %>
	</p>
</div>

<div id="nav">
	<b><%= link_to "Back", root_url %></b> |
	<b><%= link_to "Edit Profile", edit_user_profile_path %></b> |
</div>



