<h1>Profile Spolight</h1>

<p>
	<b>User Name:</b>
	<%= @profile.name %>
</p>

<p>
	<b>Email:</b>
	<%= current_user.email %>
</p>

<p>
	<b>Photo:</b>
	<%= @profile.photo %>
</p>

<p>
	<b>Bio:</b>
	<p><%= @profile.bio %></p>
</p>

<p>
	<b>Website:</b>
	<%= @profile.website %>
</p>

<div id="nav">
	<b><%= link_to "Edit Profile", edit_user_profile_path %></b> |
	
</div>



