<%= form_for @user, html: {multipart: true} do |f| %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name%>
</div>

<div class="field">
	<%= f.label :photo %><br>
	<%= image_tag(@user.image_url, :width => 300) if @user.image.present? %> <br />
	<%= f.file_field :image %><br />
		<%= f.check_box :remove_image %>
		<%= f.label :remove_image, "Remove Image" %>
</div>
<br/ >

<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<br/ >

<div class="field">
	<%= f.label :comfort_bio %>
	<%= f.text_area :bio %>
</div>
<br/ >

<div class="field">
	<%= f.label :tag_list, "Comfort Areas (separated by commas)", class: "left inline", title: "Things you'd like to overcome.", data: {tooltip:true} %><br />
	<%= f.text_area :tag_list %>
</div>
<br/ >

<div class="field">
<p>Please re-enter you password:</p>
	<%= f.label :password %> 
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= f.label :password_confirmation %> 
	<%= f.password_field :password_confirmation %> 
</div>

<div class="actions">
	<%= f.submit %>
</div>
<%end%>

<div id="nav">
<% if current_user %>
	<b><%= link_to "Users Page", user_path(current_user.id) %></b> |
	<b><%= link_to "Back", root_url %></b> |
<% else %>
	<b><%= link_to "Back", root_url %></b>
<% end %>
</div>