<h1>User Index</h1>
<p> <%= link_to "Quiz", "/quizzes/new" %> </p>

<div id="tag_cloud">
	<% tag_cloud User.tag_counts, %w[s m l] do |tag, css_class| %>
		<%= link_to tag.name, tag_path(tag.name), class: css_class %>
	<% end %>	
</div>

<!-- <div id="users">
< for user in @users %>
</div> -->
	<div class="users">
	<% User.all.each do |user| %>
	<ul>
	<b><%= link_to h user.name %></b>
	  <p>Tags: <%= user.tag_list.map {|t| link_to t, tag_path(t)}.join(', ').html_safe %></p>
	<%= button_to "Add Friend", friendships_path(friend_id: user), method: :post %>
	</ul>
	<% end %>
	</div>	


<%= link_to "Back to User's Page", user_path(current_user.id) %>