<h1>User's Page</h1>

<p>
	<b>Name:</b>
	<%= @user.name %>
</p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

 
<b><%= link_to "Back", root_url %></b> |
<b><%= link_to "Edit User", edit_user_path(current_user.id) %></b> |
<b><%= link_to "Show Profile", user_profile_path(current_user.id, @profile.id) %></b> |		
