<div class="row">
	<h1><b><%= @user.name %>'s Page</b></h1>

	<div class="large-6 columns">
		<div class="profile">
			<p> <b>Name:</b> <%= @user.name %> </p>

			<p> <%= image_tag(@user.image_url, :width => 300) if @user.image.present? %> </p>

			<p> <b>Comfort Bio: </b><%= @user.bio %> </p>	
		</div>

		<div class="tags">
			<p><b>Comfort Areas:</b>
				<br />
				<b><%= @user.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></b></p>
		</div>
	</div>
	
	<div class="large-2 columns">
	</div>
		
	<div class="large-4 columns">
		<div class="friends_list">
			<h3><b>Following:</b></h3>
			<ul>
				<% for friendship in @user.friendships %>
				<li>
					<%=h friendship.friend.name %>
					(<%= link_to "remove", friendship, method: :delete %>)
				</li>
				<% end %>	
			</ul>
			<div class="button tiny radius"><%= link_to "Find Friends", users_path %></a> </div>
	

				<h3><b>Followers:</b></h3>
				<ul>
					<% for user in @user.inverse_friends %>
					<li><%=h user.name %></li>
					<% end %>	
				</ul>
			</div>
		
			<% if current_user %>
				<h3><b>Comments for <%= @user.name %>:</b></h3>

				<% @user.received_comments.each do |comment| %>
					<p>
						<% if comment.id.present? %>
							<div id="comments">
								<%= comment.comment %>
								<br>
								<% if comment.user != nil %>
									<em> by <%= comment.commenter.name %></em> <br />
									Added on: <%= comment.created_at %>
								<% end %>				
							</div>
						<% end %>	
					</p>	
				<% end %>
			<% end %>
		
	

			<% if current_user %>
		
			
				<b>Add Comments for <%= @user.name %>:</b> <br />

				<%= form_for([@user, @comment]) do |f| %>

					<div class="field">
						<%= f.label :comment %><br />
						<%= f.text_area :comment %>	
					</div>

					<div class="actions">
						<%= f.submit %>	
					</div>

				<% end %>
			
		
			<% else %>
			<p>Please <%= link_to "Log in", new_user_session_path %> to add a comment. </p>
			<% end %>
		</div>

	<div class="row">
	<div class="large-12 columns">
		<div id="nav">
			<b><%= link_to "Edit User Info", edit_user_path(current_user.id) %></b> |
			<b><%= link_to "Home", root_url %></b>
		</div>
	</div>
</div>