<h1><%= current_user.name %>'s Page</h1>

<div class="profile">
<p> <b>Name:</b> <%= @user.name %> </p>

<p> <%= image_tag(@user.image_url, :width => 300) if @user.image.present? %> </p>

<p> <b>Email:</b><%= @user.email %> </p>

<p> <b>Comfort Bio:</b><%= @user.bio %> </p>	

<p><b>Tags:</b>
	<%= current_user.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></p>
</div>

<div class="friends_list">
	<h2>Friends:</h2>
	<ul>
		<% for friendship in @user.friendships %>
			<li>
				<%=h friendship.friend.name %>
				(<%= link_to "remove", friendship, method: :delete %>)
			</li>
		<% end %>	
	</ul>

	<p><b><%= link_to "Find Friends", users_path %></b></p>	

	<h2>Friended by Users</h2>
	<ul>
		<% for user in @user.inverse_friends %>
			<li><%=h user.name %></li>
		<% end %>	
	</ul>

</div>

<div id="nav">
<b><%= link_to "Edit User Info", edit_user_path(current_user.id) %></b> |
<b><%= link_to "Back", root_url %></b>
</div>