<html>
<head>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript" href="quiz.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<h1>Results</h1>

<% result = 24 %>
<% if result > 20 %>
<%=	"You're a creature of comfort." %>
<% elsif result > 10 %>
<%=	"You're on edge." %>
<% else %>
<%=	"You're free from fear." %>
<% end %>
<br>

<% physical_result = 4 %>
<% if physical_result > 7 %>
<%= "You have significant physical fears." %>
<% else %>
<%= "Your physical fears are minimal." %>
<% end %>
<br>

<% emotional_result = 9 %>
<% if emotional_result > 8 %>
<%= "You have significant emotional fears." %>
<% else %>
<%= "Your emotional fears are minimal." %>
<% end %>
<br>

<% type_result = emotional_result - physical_result %>
<% if type_result > 4 %>
<%= "You have more emotional fears than physical fears." %>
<% elsif type_result > -2 %>
<%= "You have a similar amount of both physical and emotional fears." %>
<% else %>
<%= "You have more physical fears than emotional fears." %>
<% end %>
<br>

<p> We might be able to help. Maybe you should <%= link_to "sign up", "/users/new" %>! </p>
</body>
</html>
