<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <title>Uncomfort</title>
    <%= stylesheet_link_tag  "application" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  	
</head>
  <body>
	<div id="nav">
		<%= link_to "Home", root_path %> |
		<%= link_to "About", application_about_path %> |
		<%= link_to "Contact", application_contact_path %> |
		<%= link_to "FAQ", application_faq_path %> |

		<% if current_user %>
			<%= link_to "User's Page", user_path(current_user.id) %> |
		 	<%= link_to "Logout", :logout, method: :post %> | <br />
		 	Logged in as, <b><%= link_to current_user.name, user_path(current_user.id)%></b>

		<% else %>
		  <%= link_to "Register", new_user_path%> |
		  <%= link_to "Login", :login %>
		<% end %>
	</div>

	<div >
		<p id="notice"> <%= flash[:notice] %> </p>
		<p id="alert"> <%= flash[:alert] %> </p>
	</div>

	<div id="lower-nav">
		<%= link_to "Terms of Service", application_terms_path %>

	</div>

	<%= yield %>
 	<%= javascript_include_tag "application" %>

</body>
</html>